@import './variables';

.hero__small {
	padding: 72px 0;
	overflow: hidden;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 234px;
		height: 62px;
		background-repeat: no-repeat;
	}

	&::after {
		top: 0;
		right: 0;
		background-image: url('../images/decoration/home/rond_header.svg');
		background-repeat: no-repeat;
		transform: translate(15%, 100%);
	}

	&.about {
		background-image: linear-gradient(to bottom, $hero-bg, $hero-bg),
			url('../images/about/header_photo.png');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.reasons.about {
	.reasons__article {
		&:nth-child(1) .article__arrow {
			transform: scaleY(-1);
			right: -170px;
			bottom: 30px;
		}
	}
}

.faq {
	h2 {
		text-align: center;
		margin-bottom: 102px;
	}

	.faq__questions {
		width: 100%;
		display: grid;
		grid-template-columns: 31.5% 1fr;
		gap: 106px;
		margin-bottom: 60px;
	}

	details {
		background-color: $snow;
		padding: 40px;
		color: $navy-dark;
		margin-bottom: 16px;
		cursor: pointer;

		&:hover {
			background-color: $yellow-light;
		}
	}
	summary {
		list-style: none;
		display: flex;
		justify-content: space-between;
		transition: height 5s ease;
	}
	summary::-webkit-details-marker {
		display: none;
	}
	summary:after {
		content: '';
		color: $yellow;
		width: 18px;
		min-width: 24px;
		font-size: 32px;
		margin-left: 16px;
		background-image: url('../images/about/arrow-down.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transition: transform 0.5s ease;
	}

	details[open] summary:after {
		content: '';
		transform: rotate(180deg);
	}

	details[open] summary {
		margin-bottom: 24px;
	}
}

@media screen and (width <=768px) {
	.hero__small {
		.hero__text {
			padding-left: 60px;
		}
		&.about {
			background-size: auto;
			background-position: 36% 50%;
		}
	}

	.faq {
		h2 {
			margin-bottom: 72px;
		}

		h3 {
			text-align: center;
		}

		.faq__questions {
			grid-template-columns: 1fr;
			gap: 40px;
		}
	}
}

@media screen and (width <=576px) {
	.hero__small {
		padding: 52px 0;
		overflow: hidden;
		position: relative;

		&::after {
			display: none;
		}

		.hero__text {
			padding: 0;
			text-align: center;
		}

		&.about {
			background-image: linear-gradient(to bottom, $hero-bg, $hero-bg),
				url('../images/about/header_small_photo.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	.faq {
		h2 {
			margin-bottom: 48px;
		}
	}
}
