@import './variables';

footer {
	> * > * {
		margin: 0 auto;
	}

	.signup {
		background-image: url('../images/decoration/rond_footer.svg');
		background-repeat: no-repeat;
		background-position: 100% 100%;
		padding: 116px 0;
		background-color: $navy-dark;

		.signup__content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;

			.signup__stores {
				justify-self: end;
				display: flex;
				justify-content: center;
				gap: 16px;

				img {
					height: clamp(40px, 5vw, 56px);
				}
			}
		}
	}

	nav {
		background-color: #333a44;
		padding: 32px 0;

		.nav__container {
			display: grid;

			grid-template-columns: 110px 2fr 1fr;
			align-content: space-between;
			align-items: center;
			gap: 52px;

			.nav__menu {
				display: flex;
				gap: 24px;
			}
			.footer__socials {
				justify-self: end;

				i {
					font-size: 24px;
					color: $yellow;

					&:hover {
						color: $yellow-light;
					}

					&:not(:last-child) {
						margin-right: 24px;
					}
				}
			}
		}
	}
}

@media screen and (width <= 768px) {
	footer {
		.signup {
			padding: 72px 40px;

			.signup__content {
				grid-template-columns: 1fr;
				gap: 32px;
				text-align: center;

				.signup__stores {
					flex-wrap: wrap;
					justify-self: center;
				}
			}
		}
	}
}

@media screen and (576px <= width <= 676px) {
	footer {
		nav {
			.nav__container {
				gap: 8px;

				.footer__socials {
					i {
						&:not(:last-child) {
							margin-right: 4px;
						}
					}
				}
			}
		}
	}
}

@media screen and (width <= 576px) {
	footer {
		.signup {
			padding: 96px 40px;
		}

		nav {
			padding: 70px 40px;

			.nav__container {
				grid-template-columns: 1fr;
				justify-items: center;
				gap: 40px;

				.nav__menu {
					flex-direction: column;
					align-items: center;
				}

				.footer__socials {
					margin-top: 20px;
					justify-self: unset;
				}
			}
		}
	}
}
