@import './variables';

body {
	width: 100vw;
}

html.noscroll {
	overflow: hidden;
}

a {
	cursor: pointer;
}

header,
footer,
main {
	width: 100%;
	overflow-x: hidden;
}

.features,
.reasons,
.advantages,
.faq,
.jobs,
.map {
	margin-bottom: 120px;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 clamp(2vw, 16px, 4vw);
}

.hero__small {
	padding: 72px 0;
	// overflow: hidden;
	position: relative;
	margin-bottom: 132px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;

	.hero__content {
		position: relative;

		&::after {
			position: absolute;
			content: '';
			width: 234px;
			height: 62px;
			background-repeat: no-repeat;
			top: 0;
			right: -193px;
			background-image: url('./images/decoration/home/rond_header.svg');
			// transform: translate(250%, 0)
		}
	}

	.hero__text {
		align-self: flex-start;
	}
}

@media screen and (width <= 768px) {
	.hero__small {
		margin-bottom: 140px;
		.hero__content::after {
			right: -32px;
		}

		.hero__text {
			padding-left: 60px;
		}
		&.about {
			background-position: 36% 50%;
		}
	}
}

@media screen and (width <=576px) {
	.hero__small {
		padding: 52px 0;
		overflow: hidden;
		position: relative;
		margin-bottom: 72px;

		.hero__content {
			
					&::after {
						display: none;
					}

		}

		.hero__text {
			padding: 0;
			margin: 0 auto;
		}
	}
}

@media screen and (width <= 1110px) {
	.container {
		padding: 0 clamp(2vw, 16px, 4vw);
	}
}
