@import './variables';

body {
	width: 100vw;
}

a {
	cursor: pointer;
}

header,
footer,
main {
	width: 100%;
	overflow-x: hidden;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

@media screen and (width <= 1110px ) {
	.container {
		padding: 0 clamp(2vw, 16px, 4vw);

	}

}