@import './variables';

header {


	.header_desktop {
		width: 100%;
		height: 96px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 52px;

		nav ul {
			display: flex;
			align-items: center;
			gap: 15px;
		}
	}

	.header_desktop,
	.header_mobil {
		position: relative;

		&.scroll__up {
			position: fixed;
			top: 0px;
			z-index: 9999;
		}
	}

	.header_mobil {
		display: none;
	}
	.nav_mobil {
		display: none;
	}

	/********************************************/
	@media screen and (max-width: 576px) {
		.container {
			width: 100%;
			height: auto;
			display: inline-block;
			justify-content: space-between;
			align-items: center;

			.header_desktop {
				display: none;
			}

			.header_mobil {
				width: 100%;
				height: 96px;
				display: grid;
				place-items: center;
				grid-template-columns: 1fr 3fr 1fr;
			}

			.nav_mobil.active {
				width: 50%;
				height: 200px;
				display: inline-block;
				text-decoration: none;
				background-color: grey;
			}
		}
	}
}
