@import './variables';

.header_desktop {
	width: 100%;
	height: 96px;
	display: grid;
	grid-template-columns: 1fr 5fr 2fr;
	justify-content: space-between;
	align-items: center;
	gap: 52px;

	.scoot {
		grid-column: 1/2;
	}

	nav ul {
		grid-column: 2/3;
		display: flex;
		align-items: flex-start;
		gap: 15px;
	}
	.cta {
		grid-column: 3/4;
		justify-self: flex-end;
	}
}

.header_desktop,
.header_mobil {
	&.scroll__up {
		position: fixed;
		top: 0px;
		z-index: 9999;
		width: unset;
		max-width: 1440px;
		background-color: white;
	}
}

.header_mobil,
.nav_mobil {
	display: none;
}

/********************************************/
@media screen and (max-width: 576px) {
	header {
		overflow-x: unset;
	}
	.header_desktop {
		display: none;
	}

	.header_mobil {
		display: block;
		position: relative;
		width: 100%;

		.header_mobil__burgers {
			height: 96px;
			display: grid;
			position: relative;
			place-items: center;
			background-color: white;
			grid-template-columns: 1fr 3fr 1fr;

			.burger__close {
				display: none;

				&.burger__close--active {
					display: block;
				}
			}
			.burger__open {
				display: none;
				&.burger__menu--active {
					display: block;
				}
			}
		}

		.nav_mobil {
			&.active {
				position: absolute;
				top: 96px;
				left: 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				height: calc(100vh - 96px);
				margin-left: -16px;
				z-index: 10;

				nav {
					padding: 32px;
					background-color: $navy-dark;
					justify-content: space-between;
				}

				ul {
					display: flex;
					flex-direction: column;
					gap: 40px;
				}
			}

			nav {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			div {
				background-color: rgba(0, 0, 0, 0.75);
				height: 100%;
				width: calc(100% + 16px)
			}
		}
	}
}
