@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

/* END RESET CSS */
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 53px;
  background-color: #fcb72b;
  border-color: 1px solid #fcb72b;
  transition: background-color 0.3s ease;
}
.cta:hover {
  background-color: transparent;
  border: 1px solid #fcb72b;
}

body {
  width: 100vw;
}

a {
  cursor: pointer;
}

header,
footer,
main {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (width <= 1110px) {
  .container {
    padding: 0 clamp(2vw, 16px, 4vw);
  }
}
body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

h1,
h2,
h3,
h4,
nav {
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

h2,
h3,
h4 {
  color: #495567;
}

h1 {
  font-size: clamp(40px, 9vw, 56px);
  line-height: clamp(40px, 9vw, 56px);
  letter-spacing: -2.5px;
  color: #f2f5f9;
}

h2 {
  font-size: clamp(32px, 7vw, 48px);
  line-height: clamp(32px, 7vw, 48px);
  letter-spacing: -2.14px;
}

h3 {
  font-size: clamp(24px, 5.5vw, 40px);
  line-height: 48px;
  letter-spacing: -1.79px;
}

h4 {
  font-size: clamp(20px, 3vw, 24px);
  line-height: 28px;
  letter-spacing: -1.07px;
}

.hero {
  color: #f2f5f9;
}

nav a {
  color: #939caa;
}

a.cta {
  font-family: "Space Mono", monospace;
  color: #f2f5f9;
}
a.cta:hover {
  color: #fcb72b;
}

footer h2 {
  color: #f2f5f9;
}

header {
  /********************************************/
}
header .header_desktop {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}
header .header_desktop nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .header_mobil {
  display: none;
}
header .nav_mobil {
  display: none;
}
@media screen and (max-width: 576px) {
  header .container {
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }
  header .container .header_desktop {
    display: none;
  }
  header .container .header_mobil {
    width: 100%;
    height: 96px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 3fr 1fr;
  }
  header .container .nav_mobil.active {
    width: 50%;
    height: 200px;
    display: inline-block;
    text-decoration: none;
    background-color: grey;
  }
}

footer > * > * {
  margin: 0 auto;
}
footer .signup {
  background-image: url("../images/decoration/rond_footer.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 116px;
  background-color: #495567;
}
footer .signup .signup__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
footer .signup .signup__content .signup__stores {
  justify-self: end;
  display: flex;
  justify-content: center;
  gap: 16px;
}
footer .signup .signup__content .signup__stores img {
  height: clamp(40px, 5vw, 56px);
}
footer nav {
  background-color: #333a44;
  padding: 32px;
}
footer nav .nav__container {
  display: grid;
  grid-template-columns: 110px 2fr 1fr;
  align-content: space-between;
  align-items: center;
  gap: 52px;
}
footer nav .nav__container .nav__menu {
  display: flex;
  gap: 24px;
}
footer nav .nav__container .footer__socials {
  justify-self: end;
}
footer nav .nav__container .footer__socials i {
  font-size: 24px;
  color: #fcb72b;
}
footer nav .nav__container .footer__socials i:not(:last-child) {
  margin-right: 24px;
}

@media screen and (width <= 768px) {
  footer .signup {
    padding: 72px 40px;
  }
  footer .signup .signup__content {
    grid-template-columns: 1fr;
    gap: 32px;
    text-align: center;
  }
  footer .signup .signup__content .signup__stores {
    flex-wrap: wrap;
    justify-self: center;
  }
}
@media screen and (576px <= width <= 676px) {
  footer nav .nav__container {
    gap: 8px;
  }
  footer nav .nav__container .footer__socials i:not(:last-child) {
    margin-right: 4px;
  }
}
@media screen and (width <= 576px) {
  footer .signup {
    padding: 96px 40px;
  }
  footer nav {
    padding: 70px 40px;
  }
  footer nav .nav__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
  }
  footer nav .nav__container .nav__menu {
    flex-direction: column;
    align-items: center;
  }
  footer nav .nav__container .footer__socials {
    margin-top: 20px;
    justify-self: unset;
  }
}
section {
  margin-bottom: 64px;
}

.hero {
  padding: 152px 0;
  overflow: hidden;
  display: flex;
}
.hero.home {
  background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("../images/home/home_header_photo.png");
  background-size: cover;
}
.hero .hero__content {
  position: relative;
}
.hero .hero__content::before, .hero .hero__content::after {
  position: absolute;
  content: "";
  width: 452px;
  height: 150px;
  background-repeat: no-repeat;
}
.hero .hero__content::before {
  top: 55%;
  left: 53%;
  background-image: url("../images/decoration/home/fleche_header.svg");
}
.hero .hero__content::after {
  top: 77%;
  left: 99%;
  background-image: url("../images/decoration/home/rond_header.svg");
  background-repeat: no-repeat;
}
.hero .hero__content .hero__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero .hero__content .hero__paragraph {
  padding-left: 20%;
  text-align: justify;
  position: relative;
}
.hero .hero__content .hero__paragraph p {
  margin-bottom: 42px;
}
.hero .hero__content .hero__paragraph::before {
  position: absolute;
  content: "";
  top: 37px;
  left: -170px;
  width: 203px;
  height: 15px;
  background-image: url("../images/decoration/home/trait_header.svg");
  background-repeat: no-repeat;
}

.features {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 34px;
}
.features::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 90%;
  border: 8px solid #e5ecf4;
  left: -240px;
  top: 42px;
  z-index: 0;
}
.features .features__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 34px;
  position: relative;
  z-index: 1;
}
.features .features__item .features__item__image {
  width: 96px;
  height: 96px;
  background-color: #fcb72b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features .features__item .features__item__content h4 {
  margin-bottom: 32px;
}

.reasons img {
  border-radius: 50%;
}
.reasons .reasons__article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 164px;
  gap: 62px;
}
.reasons .reasons__article .article__arrow {
  position: absolute;
  border-radius: 0;
  z-index: 1;
}
.reasons .reasons__article:nth-child(1) .article__arrow {
  right: -170px;
  bottom: 0;
}
.reasons .reasons__article:nth-child(2) .article__arrow {
  left: -535px;
  top: 0;
  transform: rotate(180deg) scaleY(-1);
}
.reasons .reasons__article:nth-child(3) .article__arrow {
  right: -535px;
  top: 80px;
}
.reasons .reasons__article .article__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40%;
}
.reasons .reasons__article .article__image {
  position: relative;
}
.reasons .reasons__article .article__image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e5ecf4;
  right: -508px;
}
.reasons .reasons__article:nth-child(even) .article__content {
  order: 2;
}
.reasons .reasons__article:nth-child(even) .article__image {
  order: 1;
}
.reasons .reasons__article:nth-child(even) .article__image::before {
  left: -508px;
  right: 0;
}

@media screen and (width <= 768px) {
  .hero {
    padding: 137px 0 206px 0;
    display: flex;
  }
  .hero.home {
    background-position: center;
  }
  .hero .hero__content::before {
    top: 108%;
    left: -16%;
  }
  .hero .hero__content::after {
    top: 120%;
    left: 60%;
  }
  .hero .hero__content .hero__text {
    width: 74%;
    text-align: center;
    gap: 32px;
    margin: 0 auto;
  }
  .hero .hero__content .hero__paragraph {
    padding-left: 0;
    text-align: center;
  }
  .hero .hero__content .hero__paragraph a {
    margin: 0 auto;
  }
  .hero .hero__content .hero__paragraph p {
    margin-bottom: 42px;
  }
  .hero .hero__content .hero__paragraph::before {
    display: none;
  }
  .features {
    flex-direction: column;
    width: 75%;
  }
  .features::after {
    transform: rotate(90deg);
    left: -238px;
    top: 80px;
  }
  .features .features__item {
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 80px;
  }
  .features .features__item .features__item__content h4 {
    margin-bottom: 28px;
  }
  .reasons .reasons__article {
    flex-direction: column;
  }
  .reasons .reasons__article .article__content {
    order: 2;
    width: 74%;
    align-items: center;
    text-align: center;
  }
  .reasons .reasons__article .article__image {
    order: 1;
  }
  .reasons .reasons__article:nth-child(1) .article__arrow {
    right: -170px;
    bottom: 0;
  }
  .reasons .reasons__article:nth-child(2) .article__arrow {
    left: -535px;
    top: 0;
    transform: rotate(180deg) scaleY(-1);
  }
  .reasons .reasons__article:nth-child(3) .article__arrow {
    right: -535px;
    top: 80px;
  }
}
@media screen and (width <= 576px) {
  .hero {
    padding: 115px 0 172px 0;
  }
  .hero.home {
    background-position: 80%;
  }
  .hero .hero__content::before {
    top: 100%;
    left: -100%;
  }
  .hero .hero__content::after {
    display: none;
  }
  .hero .hero__content .hero__text {
    width: 80%;
  }
  .features {
    flex-direction: column;
    width: 75%;
  }
  .features .features__item {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 32px;
  }
  .features .features__item .features__item__content h4 {
    margin-bottom: 28px;
  }
  .reasons .reasons__article {
    flex-direction: column;
  }
  .reasons .reasons__article .article__image img:first-child {
    width: 311px;
  }
  .reasons .reasons__article:nth-child(1) .article__arrow {
    left: 0px;
    bottom: 0;
  }
  .reasons .reasons__article:nth-child(2) .article__arrow {
    left: -490px;
    top: 0;
  }
  .reasons .reasons__article:nth-child(3) .article__arrow {
    top: 0px;
  }
}
.hero__small {
  padding: 72px 0;
  overflow: hidden;
  position: relative;
}
.hero__small::after {
  position: absolute;
  content: "";
  width: 234px;
  height: 62px;
  background-repeat: no-repeat;
}
.hero__small::after {
  top: 0;
  right: 0;
  background-image: url("../images/decoration/home/rond_header.svg");
  background-repeat: no-repeat;
  transform: translate(15%, 100%);
}
.hero__small.about {
  background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("../images/about/header_photo.png");
  background-size: cover;
}

.reasons.about .reasons__article:nth-child(1) .article__arrow {
  transform: scaleY(-1);
  right: -170px;
  bottom: 30px;
}

.faq h2 {
  text-align: center;
  margin-bottom: 102px;
}
.faq .faq__questions {
  display: grid;
  grid-template-columns: 31.5% 1fr;
  gap: 106px;
  margin-bottom: 60px;
}
.faq details {
  background-color: #f2f5f9;
  padding: 40px;
  color: #495567;
  margin-bottom: 16px;
}
.faq summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 5s ease;
}
.faq summary::-webkit-details-marker {
  display: none;
}
.faq summary:after {
  content: "";
  color: #fcb72b;
  width: 18px;
  min-width: 24px;
  font-size: 32px;
  margin-left: 16px;
  background-image: url("../images/about/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: transform 0.5s ease;
}
.faq details[open] summary:after {
  content: "";
  transform: rotate(180deg);
}
.faq details[open] summary {
  margin-bottom: 24px;
}

@media screen and (width <= 768px) {
  .hero__small .hero__text {
    padding-left: 60px;
  }
  .hero__small.about {
    background-size: auto;
    background-position: 36% 50%;
  }
  .faq h2 {
    margin-bottom: 72px;
  }
  .faq h3 {
    text-align: center;
  }
  .faq .faq__questions {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media screen and (width <= 576px) {
  .hero__small {
    padding: 52px 0;
    overflow: hidden;
    position: relative;
  }
  .hero__small::after {
    display: none;
  }
  .hero__small .hero__text {
    padding: 0;
    text-align: center;
  }
  .hero__small.about {
    background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("../images/about/header_small_photo.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .faq h2 {
    margin-bottom: 48px;
  }
}
section.advantages {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px;
}
section.advantages h2 {
  grid-column: 1/4;
}
section.advantages .advantage.advantage_1 {
  grid-column: 1/2;
}
section.advantages .advantage.advantage_2 {
  grid-column: 2/3;
}
section.advantages .advantage.advantage_3 {
  grid-column: 3/4;
}
section.advantages .advantage {
  display: flex;
  height: auto;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  position: relative;
}
section.advantages .image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
section.advantages .advantage img {
  border-radius: 50%;
}
section.advantages span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;
  background-color: #fcb72b;
  border-radius: 50%;
  position: absolute;
  transform: translateY(50%);
}

section.jobs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}
section.jobs .job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f5f9;
  padding: 36px 64px;
}

/**********************************************/
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }
  section.advantages {
    max-width: 457px;
    display: flex;
    flex-direction: column;
  }
  section.jobs .job {
    padding: 36px 48px;
  }
}
/**************************************************/
@media screen and (max-width: 576px) {
  section.jobs {
    display: flex;
    text-align: center;
  }
  section.jobs .job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 32px;
    gap: 20px;
  }
  section.jobs .cta {
    width: 100%;
  }
}
.container {
  display: block;
}
.container .mobil {
  display: none;
}
.container .map {
  position: relative;
  display: block;
}
.container .map img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgb(38, 41, 38);
}
.container .map .pin {
  position: absolute;
  background: #fcb72b;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}
.container .map .pin::before {
  content: "";
  background: #fcb72b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
}
.container .map .pin span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  background: #fcb72b;
  border-radius: 3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
}
.container .map .pin.ny {
  top: 26%;
  left: 23%;
}
.container .map .pin.london {
  top: 17.5%;
  left: 44.5%;
}
.container .map .pin.jkt {
  top: 60%;
  left: 78%;
}
.container .map .pin.yoko {
  top: 29%;
  left: 86%;
}
@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
.container .reasons .carte {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr 1fr;
}
.container .reasons .carte h2 {
  grid-column: 1/2;
  padding-right: 24px;
}
.container .reasons .carte p {
  grid-column: 2/3;
  padding: 36px;
}
.container .reasons .carte a {
  grid-column: 3/4;
  padding-left: 24px;
}

/*********************************************/
@media screen and (max-width: 768px) {
  .container .reasons .carte {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/**********************************************/
@media screen and (max-width: 576px) {
  .container {
    /*.reasons {
        .carte {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }*/
  }
  .container .mobil.cities {
    text-align: center;
    display: block;
    width: 100%;
  }
  .container .mobil.cities .city {
    padding: 24px 0px;
    margin: 16px 0px;
    background-color: #fff4df;
  }
  .container .map .pin span {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */