@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

/* END RESET CSS */
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 53px;
  background-color: #fcb72b;
  border-color: 1px solid #fcb72b;
  transition: background-color 0.3s ease;
}
.cta:hover {
  background-color: transparent;
  border: 1px solid #fcb72b;
}

body {
  width: 100vw;
}

html.noscroll {
  overflow: hidden;
}

a {
  cursor: pointer;
}

header,
footer,
main {
  width: 100%;
  overflow-x: hidden;
}

.features,
.reasons,
.advantages,
.faq,
.jobs,
.map {
  margin-bottom: 120px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 clamp(2vw, 16px, 4vw);
}

.hero__small {
  padding: 72px 0;
  position: relative;
  margin-bottom: 132px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__small .hero__content {
  position: relative;
}
.hero__small .hero__content::after {
  position: absolute;
  content: "";
  width: 234px;
  height: 62px;
  background-repeat: no-repeat;
  top: 0;
  right: -32px;
  background-image: url("../images/decoration/home/rond_header.svg");
}
.hero__small .hero__text {
  align-self: flex-start;
}

@media screen and (width <= 768px) {
  .hero__small {
    margin-bottom: 140px;
  }
  .hero__small .hero__text {
    padding-left: 60px;
  }
  .hero__small.about {
    background-size: auto;
    background-position: 36% 50%;
  }
}
@media screen and (width <= 576px) {
  .hero__small {
    padding: 52px 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 72px;
  }
  .hero__small::after {
    display: none;
  }
  .hero__small .hero__text {
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (width <= 1110px) {
  .container {
    padding: 0 clamp(2vw, 16px, 4vw);
  }
}
body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

h1,
h2,
h3,
h4,
nav {
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

h2,
h3,
h4 {
  color: #495567;
}

h1 {
  font-size: clamp(40px, 9vw, 56px);
  line-height: clamp(40px, 9vw, 56px);
  letter-spacing: -2.5px;
  color: #f2f5f9;
}

h2 {
  font-size: clamp(32px, 7vw, 48px);
  line-height: clamp(32px, 7vw, 48px);
  letter-spacing: -2.14px;
}

h3 {
  font-size: clamp(24px, 5.5vw, 40px);
  line-height: 48px;
  letter-spacing: -1.79px;
}

h4 {
  font-size: clamp(20px, 3vw, 24px);
  line-height: 28px;
  letter-spacing: -1.07px;
}

.hero {
  color: #f2f5f9;
}

.pin {
  color: #495567;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .map .pin {
    font-size: 13px;
  }
}
nav a {
  color: #939caa;
}
nav a:hover {
  color: #fcb72b;
}

.nav_mobil a {
  color: #f2f5f9;
}

a.cta {
  font-family: "Space Mono", monospace;
  color: #f2f5f9;
}
a.cta:hover {
  color: #fcb72b;
}

footer h2 {
  color: #f2f5f9;
}

.header_desktop {
  width: 100%;
  height: 96px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}
.header_desktop .scoot {
  grid-column: 1/2;
}
.header_desktop nav ul {
  grid-column: 2/3;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.header_desktop .cta {
  grid-column: 3/4;
  justify-self: flex-end;
}

.header_desktop.scroll__up,
.header_mobil.scroll__up {
  position: fixed;
  top: 0px;
  z-index: 9999;
  background-color: white;
  box-shadow: #495567 0px 2px 5px;
}

.header_mobil,
.nav_mobil {
  display: none;
}

/********************************************/
@media screen and (max-width: 576px) {
  header {
    overflow-x: unset;
  }
  .header_desktop {
    display: none;
  }
  .header_mobil {
    display: block;
    position: relative;
    width: 100%;
  }
  .header_mobil .header_mobil__burgers {
    height: 96px;
    display: grid;
    position: relative;
    place-items: center;
    background-color: white;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .header_mobil .header_mobil__burgers .burger__close {
    display: none;
  }
  .header_mobil .header_mobil__burgers .burger__close.burger__close--active {
    display: block;
  }
  .header_mobil .header_mobil__burgers .burger__open {
    display: none;
  }
  .header_mobil .header_mobil__burgers .burger__open.burger__menu--active {
    display: block;
  }
  .header_mobil .nav_mobil.active {
    position: absolute;
    top: 96px;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 96px);
    margin-left: -16px;
    z-index: 10;
  }
  .header_mobil .nav_mobil.active nav {
    padding: 32px;
    background-color: #495567;
    justify-content: space-between;
  }
  .header_mobil .nav_mobil.active ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .header_mobil .nav_mobil nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header_mobil .nav_mobil div {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: calc(100% + 16px);
  }
}
footer > * > * {
  margin: 0 auto;
}
footer .signup {
  background-image: url("/images/decoration/rond_footer.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 116px 0;
  background-color: #495567;
}
footer .signup .signup__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
footer .signup .signup__content .signup__stores {
  justify-self: end;
  display: flex;
  justify-content: center;
  gap: 16px;
}
footer .signup .signup__content .signup__stores img {
  height: clamp(40px, 5vw, 56px);
}
footer nav {
  background-color: #333a44;
  padding: 32px 0;
}
footer nav .nav__container {
  display: grid;
  grid-template-columns: 110px 2fr 1fr;
  align-content: space-between;
  align-items: center;
  gap: 52px;
}
footer nav .nav__container .nav__menu {
  display: flex;
  gap: 24px;
}
footer nav .nav__container .footer__socials {
  justify-self: end;
}
footer nav .nav__container .footer__socials i {
  font-size: 24px;
  color: #fcb72b;
}
footer nav .nav__container .footer__socials i:hover {
  color: #fff4df;
}
footer nav .nav__container .footer__socials i:not(:last-child) {
  margin-right: 24px;
}

@media screen and (width <= 768px) {
  footer .signup {
    padding: 72px 40px;
  }
  footer .signup .signup__content {
    grid-template-columns: 1fr;
    gap: 32px;
    text-align: center;
  }
  footer .signup .signup__content .signup__stores {
    flex-wrap: wrap;
    justify-self: center;
  }
}
@media screen and (576px <= width <= 676px) {
  footer nav .nav__container {
    gap: 8px;
  }
  footer nav .nav__container .footer__socials i:not(:last-child) {
    margin-right: 4px;
  }
}
@media screen and (width <= 576px) {
  footer .signup {
    padding: 96px 40px;
  }
  footer nav {
    padding: 70px 40px;
  }
  footer nav .nav__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
  }
  footer nav .nav__container .nav__menu {
    flex-direction: column;
    align-items: center;
  }
  footer nav .nav__container .footer__socials {
    margin-top: 20px;
    justify-self: unset;
  }
}
.hero {
  padding: 152px 0;
  overflow: hidden;
  display: flex;
  margin-bottom: 164px;
}
.hero.home {
  background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("./images/home/home_header_photo.webp");
  background-size: cover;
}
.hero .hero__content {
  position: relative;
}
.hero .hero__content::before, .hero .hero__content::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}
.hero .hero__content::after {
  width: 234px;
  height: 62px;
  top: 77%;
  left: 99%;
  background-image: url("./images/decoration/home/rond_header.svg");
}
.hero .hero__content .hero__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: flex-start;
}
.hero .hero__content .hero__paragraph {
  padding-left: 20%;
  text-align: justify;
  position: relative;
}
.hero .hero__content .hero__paragraph p {
  margin-bottom: 42px;
}
.hero .hero__content .hero__paragraph::after {
  position: absolute;
  content: "";
  width: 452px;
  height: 150px;
  top: 37px;
  left: 110%;
  background-image: url("./images/decoration/home/fleche_header.svg");
}
.hero .hero__content .hero__paragraph::before {
  position: absolute;
  content: "";
  top: 37px;
  right: 92%;
  width: 100vw;
  height: 15px;
  background-color: #fcb72b;
}

.features {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 34px;
}
.features::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100vw;
  border: 8px solid #e5ecf4;
  right: 30.03003003%;
  top: 42px;
  z-index: 0;
}
.features .features__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 34px;
  position: relative;
  z-index: 1;
}
.features .features__item .features__item__image {
  width: 96px;
  height: 96px;
  background-color: #fcb72b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features .features__item .features__item__content h4 {
  margin-bottom: 32px;
}

.reasons.home > *:not(:last-child) {
  margin-bottom: 160px;
}

.reasons img {
  border-radius: 50%;
}
.reasons .reasons__article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 62px;
}
.reasons .reasons__article .article__arrow {
  position: absolute;
  border-radius: 0;
  z-index: 1;
}
.reasons .reasons__article:nth-child(1) .article__arrow {
  right: -170px;
  bottom: 0;
}
.reasons .reasons__article:nth-child(1) hr {
  bottom: 135px;
  left: 150px;
}
.reasons .reasons__article:nth-child(2) .article__arrow {
  left: -535px;
  top: 0;
  transform: rotate(180deg) scaleY(-1);
}
.reasons .reasons__article:nth-child(2) hr {
  top: 0;
  right: 500px;
}
.reasons .reasons__article:nth-child(3) .article__arrow {
  right: -535px;
  top: 80px;
}
.reasons .reasons__article:nth-child(3) hr {
  left: 500px;
  top: 80px;
}
.reasons .reasons__article .article__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40%;
}
.reasons .reasons__article .article__image {
  position: relative;
}
.reasons .reasons__article .article__image hr {
  position: absolute;
  content: "";
  width: 100vw;
  height: 16px;
  background-color: #fcb72b;
  border: none;
}
.reasons .reasons__article .article__image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e5ecf4;
  right: -508px;
}
.reasons .reasons__article:nth-child(even) .article__content {
  order: 2;
}
.reasons .reasons__article:nth-child(even) .article__image {
  order: 1;
}
.reasons .reasons__article:nth-child(even) .article__image::before {
  left: -508px;
  right: 0;
}

@media screen and (768px < width <= 1024px) {
  .hero .hero__content::after {
    display: none;
  }
}
@media screen and (width <= 768px) {
  .hero {
    padding: 137px 0 206px 0;
    display: flex;
    margin-bottom: 125px;
  }
  .hero.home {
    background-position: center;
  }
  .hero .hero__content::after {
    top: 120%;
    left: 60%;
  }
  .hero .hero__content .hero__text {
    width: 74%;
    text-align: center;
    gap: 32px;
    margin: 0 auto;
  }
  .hero .hero__content .hero__paragraph {
    padding-left: 0;
    text-align: center;
  }
  .hero .hero__content .hero__paragraph a {
    margin: 0 auto;
  }
  .hero .hero__content .hero__paragraph p {
    margin-bottom: 42px;
  }
  .hero .hero__content .hero__paragraph::after {
    top: 100%;
    left: -33.3333333333vw;
  }
  .hero .hero__content .hero__paragraph::before {
    display: none;
  }
  .reasons.home > *:not(:last-child) {
    margin-bottom: 120px;
  }
  .features {
    flex-direction: column;
    width: 75%;
    margin: auto;
  }
  .features::after {
    left: 42px;
    top: -25%;
    width: 1px;
    height: 110%;
    z-index: -100;
  }
  .features .features__item {
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 80px;
  }
  .features .features__item .features__item__content h4 {
    margin-bottom: 28px;
  }
  .reasons .reasons__article {
    flex-direction: column;
  }
  .reasons .reasons__article .article__content {
    order: 2;
    width: 74%;
    align-items: center;
    text-align: center;
  }
  .reasons .reasons__article .article__image {
    order: 1;
  }
  .reasons .reasons__article:nth-child(1) .article__arrow {
    right: -170px;
    bottom: 0;
  }
  .reasons .reasons__article:nth-child(2) .article__arrow {
    left: -535px;
    top: 0;
    transform: rotate(180deg) scaleY(-1);
  }
  .reasons .reasons__article:nth-child(3) .article__arrow {
    right: -535px;
    top: 80px;
  }
}
@media screen and (width <= 576px) {
  .hero {
    padding: 115px 0 172px 0;
    margin-bottom: 125px;
  }
  .hero.home {
    background-position: 80%;
  }
  .hero .hero__content::after {
    display: none;
  }
  .hero .hero__content .hero__text {
    width: 80%;
  }
  .hero .hero__content .hero__paragraph::after {
    top: 100%;
    left: -125%;
  }
  .features {
    flex-direction: column;
    width: 75%;
    gap: 46px;
  }
  .features::after {
    display: none;
  }
  .features .features__item {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 32px;
  }
  .features .features__item .features__item__content h4 {
    margin-bottom: 28px;
  }
  .features .features__item .features__item__image {
    width: 56px;
    height: 56px;
  }
  .features .features__item .features__item__image img {
    height: 24px;
  }
  .reasons .reasons__article {
    flex-direction: column;
  }
  .reasons .reasons__article .article__image img:first-child {
    width: 311px;
  }
  .reasons .reasons__article:nth-child(1) .article__arrow {
    left: 0px;
    bottom: 0;
  }
  .reasons .reasons__article:nth-child(2) .article__arrow {
    left: -490px;
    top: 0;
  }
  .reasons .reasons__article:nth-child(3) .article__arrow {
    top: 0px;
  }
}
.hero__small.about {
  background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("./images/about/about_header_photo.webp");
}

.reasons.about > *:not(:last-child) {
  margin-bottom: 120px;
}
.reasons.about .reasons__article:nth-child(1) .article__arrow {
  transform: scaleY(-1);
  right: -170px;
  bottom: 30px;
}
.reasons.about .reasons__article:nth-child(1) hr {
  bottom: 30px;
  left: 500px;
}

.faq h2 {
  text-align: center;
  margin-bottom: 102px;
}
.faq .faq__questions {
  width: 100%;
  display: grid;
  grid-template-columns: 31.5% 1fr;
  gap: 106px;
  margin-bottom: 60px;
}
.faq details {
  background-color: #f2f5f9;
  padding: 40px;
  color: #495567;
  margin-bottom: 16px;
  transition: min-height 5s ease;
}
.faq details:hover {
  background-color: #fff4df;
}
.faq details[open] summary ~ * {
  animation: show-text 0.5s ease-in-out;
}
@keyframes show-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.faq summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.faq summary::-webkit-details-marker {
  display: none;
}
.faq summary:after {
  content: "";
  color: #fcb72b;
  width: 18px;
  min-width: 24px;
  font-size: 32px;
  margin-left: 16px;
  background-image: url("/images/about/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: transform 0.5s ease;
}
.faq details[open] summary:after {
  content: "";
  transform: rotate(180deg);
}
.faq details[open] summary {
  margin-bottom: 24px;
}

@media screen and (768px <= width <= 1024px) {
  .reasons.about .reasons__article:nth-child(1) .article__arrow {
    transform: scaleY(-1);
    right: -260px;
    bottom: 30px;
  }
}
@media screen and (width <= 576px) {
  .hero__small.about {
    background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("/images/about/about_header_small_photo.webp");
  }
  .faq h2 {
    margin-bottom: 48px;
  }
}
.hero__small.careers {
  background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("/images/careers/career_header.png");
}

.advantages {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px;
}
.advantages h2 {
  grid-column: 1/4;
}
.advantages .advantage.advantage_1 {
  grid-column: 1/2;
}
.advantages .advantage.advantage_2 {
  grid-column: 2/3;
}
.advantages .advantage.advantage_3 {
  grid-column: 3/4;
}
.advantages .advantage {
  display: flex;
  height: auto;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.advantages .image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.advantages .advantage img {
  border-radius: 50%;
}
.advantages span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;
  background-color: #fcb72b;
  border-radius: 50%;
  position: absolute;
  transform: translateY(50%);
}

.jobs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.jobs .job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f5f9;
  padding: 36px 64px;
}

/**********************************************/
@media screen and (max-width: 768px) {
  .advantages {
    max-width: 457px;
    display: flex;
    flex-direction: column;
  }
  .jobs .job {
    padding: 36px 48px;
  }
}
/**************************************************/
@media screen and (max-width: 576px) {
  .jobs {
    display: flex;
    text-align: center;
  }
  .jobs .job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 32px;
    gap: 20px;
  }
  .jobs .cta {
    width: 100%;
  }
}
@media screen and (width <= 576px) {
  .hero__small.careers {
    background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("/images/careers/career_small_header.png");
  }
}
.hero__small.locations {
  background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("/images/location/locations_header.webp");
}

.mobil {
  display: none;
}

.map {
  position: relative;
}
.map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.map .pin {
  display: flex;
  width: 189px;
  height: 72px;
  justify-content: center;
  align-items: center;
  background-color: #fcb72b;
  position: absolute;
}
.map .pin::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-top: 16px solid #fcb72b;
  border-right: 16px solid transparent;
}
.map .pin.ny {
  top: 12%;
  left: 12%;
}
.map .pin.london {
  top: 2%;
  left: 35%;
}
.map .pin.jkt {
  top: 44.5%;
  left: 69.5%;
}
.map .pin.yoko {
  top: 13%;
  left: 77%;
}

.reasons .carte {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 4fr 2fr;
  margin: 2em 0em;
  gap: 2em;
}
.reasons .carte h2 {
  grid-column: 1/2;
}
.reasons .carte p {
  grid-column: 2/3;
}
.reasons .carte a {
  display: flex;
  grid-column: 3/4;
}

/*********************************************/
@media screen and (max-width: 768px) {
  .map .pin {
    width: 120px;
    height: 32px;
  }
  .map .pin::after {
    border-left: 8px solid transparent;
    border-top: 8px solid #fcb72b;
    border-right: 8px solid transparent;
  }
  .map .pin.ny {
    top: 16%;
    left: 15%;
  }
  .map .pin.london {
    top: 8%;
    left: 36%;
  }
  .map .pin.jkt {
    top: 50%;
    left: 70%;
  }
  .map .pin.yoko {
    top: 19%;
    left: 77.5%;
  }
  .reasons .carte {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/**********************************************/
@media screen and (max-width: 576px) {
  .hero__small.locations {
    background-image: linear-gradient(to bottom, hsla(223, 31%, 27%, 0.75), hsla(223, 31%, 27%, 0.75)), url("/images/location/locations_small_header.webp");
  }
  .mobil.cities {
    text-align: center;
    display: block;
    width: 100%;
  }
  .mobil.cities .city {
    padding: 24px 0px;
    margin: 16px 0px;
    background-color: #f2f5f9;
  }
  .map .pin span {
    display: none;
  }
  .map .pin {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .map .pin::after {
    display: none;
  }
  .map .pin.ny {
    top: 23%;
    left: 22%;
  }
  .map .pin.london {
    top: 17%;
    left: 43%;
  }
  .map .pin.jkt {
    top: 56%;
    left: 78%;
  }
  .map .pin.yoko {
    top: 25%;
    left: 85%;
  }
  .reasons .carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reasons .carte h2 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */